*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;
    text-transform: capitalize;
}
.calculator h1 span{
    color: #ffff76;
}
.input_box{
    margin: 40px 0px;
    padding: 35px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input_box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input_box button{
    background-color: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-family: cursive;
}
.input_box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 20px;
}
#result span{
    color: #ffff76;
}



/*  media screen  */

@media (max-width: 680px){
    .calculator{
        width: auto;
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 450px){
    .calculator{
        margin-top: 30%;
    }
    .input_box{
        padding: 10px;
    }
    #result{
        width: 80%;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 350px){
    .calculator h1{
        font-size: 50px;
        text-align: center;
    }
    .input_box input {
        margin-right: 0px;
    }
    .input_box button{
        position: absolute;
        top: 57%;
        left: 30%;
        transform: translate(5%, 80%);
    }
    #result{
        margin-top: 100px;
    }
}